<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
      <li class="nav-item" *ngIf="isContact">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item" #abc>
      Hi My name is -  {{msgName}}
      </li>
    </ul>
  </nav>
  